.container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.portfolio-table::ng-deep header {
    background: red;
}

.bold {
    font-weight: 600;
}
.positive {
    font-weight: 700;
    color: green;
}
.negative {
    font-weight: 700;
    color: red;
}

h1 {
    font-weight: 600;
    font-size: 2em;
}

h2 {
    font-weight: 600;
    font-size: 1.8em;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    font-weight: 600;
    font-size: 1.2em;
}

h5 {
    font-weight: 600;
    font-size: 1.1em;
}